body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #11202c;
    font-family: 'Open Sans', sans-serif;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#pikachu {
    height: 60vh;
    transition: 500ms;
}

img:hover {
    cursor: pointer;
}

p {
    color: white;
}